#map { 
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
    
 }
 
 .nav-link.active{
  color: white !important;
}
.nav-link.dropdown-toggle{
  color: white;
}
.text444{
  color:white;
}
.dropdown-item{
  color:white;
}
.collapse.navbar-collapse{
  color: white;
}
 html,body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 75px;
    margin-right: 75px;
    text-align: justify;
 }
 .navbar-nav.me-auto.mb-2.mb-lg-0{
  color: white;
}

 img .fig1{
  width: 70%;
 }
 img .fig2{
  width: 70%;
 }
 img .fig3{
  width: 70%;
 }
 
 h1{
    color: rgb(190, 22, 22);
 }

 h3{
  color: rgb(42, 17, 110);
 }

 .navbar-brand{
  color:white;
 }
 .navbar.navbar-expand-lg.navbar-light.bg-light{
  background-color:rgb(9, 86, 131);
}

 .container-fluid{
   background-color: rgb(190, 22, 22);

   
 }
 .dropdown-menu{
   background-color:rgb(190, 22, 22);
 }

 p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }

.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mstyle[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}

.cmti-10x-x-109{ font-style: italic;}

.textSpand{
    display: inline-block;
    color: green;
  }
.textSpand2{
    display: inline-block;
    color:red;
  }

.textSpand3{
    display: inline-block;
    color:rgb(42, 17, 110);
  }


